.header {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    background-image: url("../images/NS.webp");
    background-position: center;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 100px 0; /* Increase padding for more space */
    transition: background-color 0.3s;
  }
  
  .header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Faded background */
    z-index: -1;
  }
  
  .header h1 {
    font-size: 3rem;
    margin-bottom: 10px;
  }
  
  .header p {
    font-size: 1.2rem;
    opacity: 0.8;
  }
  /* Navigation Styles */
  .nav {
    display: flex;
    justify-content: center;
    background-color: #712e82;
    padding: 10px 0;
  }
  
  .nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    transition: color 0.3s;
  }
  
  .nav a:hover {
    color: #665c81;
    font-weight: bold;
    background-color: rgb(84, 165, 179);
  }
  
  /* Container Styles */
  .container {
    background-color: #d7c8c8;
    padding: 20px;
    text-align: center;
  }
  
  /* Property Section Styles */
  .property-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: #f2f2f2;
    padding: 40px 0;
  }
  
  .property-listing {
    flex: 0 1 calc(33.33% - 20px);
    margin: 10px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .property-listing:hover {
    transform: translateY(-5px);
  }
  
  .property-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .property-description {
    margin-top: 10px;
    font-size: 1rem;
  }
  
  /* Video Section Styles */
  .video-section {
    background-color: #f2f2f2;
    padding: 40px 0;
    text-align: center;
  }
  
  .property-video {
    width: 70%;
    max-width: 100%;
    margin: 0 auto;
    display: block;
    border-radius: 10px;
  }
  
  /* Footer Styles */
  .footer {
    text-align: center;
    padding: 20px 0;
    background-color: #712e82;
  }
  
  .footer-text {
    color: white;
    font-size: 1rem;
    opacity: 0.8;
  }
  